<div class="card-body">

    {{ form_row(form._token) }}

    <div class="form-group">
        {{ form_label(form.last_name) }}
        {{ form_widget(form.last_name) }}

        {% if form.last_name.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.last_name.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.first_name) }}
        {{ form_widget(form.first_name) }}

        {% if form.first_name.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.first_name.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.middle_name) }}
        {{ form_widget(form.middle_name) }}

        {% if form.middle_name.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.middle_name.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        <small class="text-secondary">{{ form_help(form.phone) }}</small>

        {% if form.phone.vars['errors']|length > 0 %}
            <ul class="list-unstyled">
                {% for error in form.phone.vars['errors'] %}
                    <li class="text-danger small">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<!-- /.card-body -->

