{% extends 'base.html.twig' %}

{% block title %}Добавление транспорта{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-default">
                <!-- form start -->
                <form id="transportForm" action="{{ path('transport_new') }}" method="POST">
                    {% include 'transport/_form.html.twig' with {'form': form} only %}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">{{ 'title.save'|trans }}</button>
                        {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
                        <a href="{{ path('transport_index') }}" class="btn btn-default float-right">{{ 'title.cancel'|trans }}</a>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block javascripts %}
    <!-- jquery-validation -->
    <script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-validation/additional-methods.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#transportForm').validate({
                rules: {
                    'transport[number]': {
                        required: true,
                        maxlength: 190
                    },
                    'transport[marka]': {
                        required: true,
                        maxlength: 190
                    },
                    'transport[model]': {
                        required: true,
                        maxlength: 190
                    },
                    'transport[kind]': {
                        required: true
                    },
                    'transport[carrying]': {
                        required: true,
                        number: true
                    },
                },
                messages: {
                    'transport[number]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'transport[marka]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'transport[model]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'transport[kind]': {
                        required: "{{ 'message.validation.required'|trans }}"
                    },
                    'transport[carrying]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        number: "{{ 'message.validation.number'|trans }}"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>

{% endblock %}