{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.show.task_goods'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% include 'task_goods/_controls_show.html.twig' %}
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">{{ 'label.task_goods_id'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.id }}</dd>

                        <dt class="col-sm-4">{{ 'label.date_task_goods'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.dateTaskGoods|date("d.m.Y") }}</dd>

                        <dt class="col-sm-4">{{ 'label.goods'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.goods }}</dd>

                        {% if taskGoods.note %}
                            <dt class="col-sm-4">{{ 'label.note'|trans }}</dt>
                            <dd class="col-sm-8">{{ taskGoods.note }}</dd>
                        {% endif %}

                        <dt class="col-sm-4">{{ 'label.weight'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.weight }} {{ units[taskGoods.unit]|trans }}</dd>

                        {% if taskGoods.dimensions %}
                            <dt class="col-sm-4">{{ 'label.dimensions'|trans }}</dt>
                            <dd class="col-sm-8">{{ taskGoods.dimensions }}</dd>
                        {% endif %}

                        <dt class="col-sm-4">{{ 'label.number_of_packages'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.numberOfPackages }}</dd>

                        <dt class="col-sm-4">{{ 'label.loading_nature'|trans }}</dt>
                        <dd class="col-sm-8">{{ loadingNatures[taskGoods.loadingNature]|trans }}</dd>

                        <dt class="col-sm-4">{{ 'label.organization'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.organization }}</dd>

                        {% if taskGoods.addressOffice %}
                            <dt class="col-sm-4">{{ 'label.address_office'|trans }}</dt>
                            <dd class="col-sm-8">{{ taskGoods.addressOffice.fullAddress }}</dd>
                        {% endif %}

                        <dt class="col-sm-4">{{ 'label.address_goods_yard'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.addressGoodsYard.fullAddress }}</dd>

                        <dt class="col-sm-4">{{ 'label.contact_person'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.contactPerson }}</dd>

                        <dt class="col-sm-4">{{ 'label.working_hours'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.workingHours }}</dd>

                        <dt class="col-sm-4">{{ 'label.created_at'|trans }}</dt>
                        <dd class="col-sm-8">{{ taskGoods.createdAt|date("d.m.Y H:i") }}</dd>

                        <dt class="col-sm-4">{{ 'label.status'|trans }}</dt>
                        <dd class="col-sm-8">
                            {% if taskGoods.status == 1 %}
                                <span class='badge badge-primary'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% elseif taskGoods.status == 2 %}
                                <span class='badge badge-warning'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% elseif taskGoods.status == 3 %}
                                <span class='badge badge-light'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% elseif taskGoods.status == 4 %}
                                <span class='badge badge-dark'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% elseif taskGoods.status == 5 %}
                                <span class='badge badge-success'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% elseif taskGoods.status == 6 %}
                                <span class='badge badge-danger'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% else %}
                                <span class='badge badge-secondary'>{{ statuses[taskGoods.status]|trans }}</span>

                            {% endif %}

                        </dd>

                        {% if taskGoods.drivers.count > 0 %}
                            <dt class="col-sm-4 pt-2 pb-2">{{ 'label.drivers'|trans }}</dt>
                            <dd class="col-sm-8 pt-2 pb-2">
                                {% for v in taskGoods.drivers %}
                                    <span class='callout callout-success p-2'>{{ v.fullName }} - {{ v.phone }}</span>
                                {% endfor %}
                            </dd>
                        {% endif %}

                        {% if taskGoods.transports.count > 0 %}
                            <dt class="col-sm-4 pt-2 pb-2">{{ 'label.transports'|trans }}</dt>
                            <dd class="col-sm-8 pt-2 pb-2">
                                {% for v in taskGoods.transports %}
                                    <span class='callout callout-info p-2'>{{ v.fullName }}</span>
                                {% endfor %}
                            </dd>
                        {% endif %}

                        {% if taskGoods.report %}
                            <dt class="col-sm-4">{{ 'label.report'|trans }}</dt>
                            <dd class="col-sm-8">{{ taskGoods.report }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            $(".invoice").on("click", function () {

                let tasksGoodsPint = [{{ taskGoods.id }}];
                let url = "{{ path('task_goods_invoice') }}";

                $.ajax({
                    type: 'post',
                    url: url,
                    data: {
                        '_method': 'post',
                        '_token': '{{ csrf_token('task-goods-invoice') }}',
                        'tasksGoodsPint': tasksGoodsPint
                    },
                    dataType: 'json'
                }).done(function (data) {
                    let params = 'width=' + screen.width;
                    params += ', height=' + screen.height;
                    params += ', top=0, left=0';
                    params += ', fullscreen=yes';
                    params += ', directories=no';
                    params += ', location=no';
                    params += ', menubar=no';
                    params += ', resizable=no';
                    params += ', scrollbars=no';
                    params += ', status=no';
                    params += ', toolbar=no';

                    let printPage = window.open("", "Print", params);
                    printPage.document.writeln(data.report);
                    printPage.document.close();
                    printPage.focus();
                    printPage.print();
                    printPage.close();
                });

            });

        });
    </script>

{% endblock %}


