{% extends 'base.html.twig' %}

{% block title %}{{ 'title.page.new.user'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-default">
                <!-- form start -->
                <form id="userForm" action="{{ path('user_new') }}" method="POST">
                    {% include 'user/_form.html.twig' with {'form': form} only %}
                    <div class="card-footer">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.saveAndCreateNew) }}
                        <a href="{{ path('user_index') }}"
                           class="btn btn-default float-right">{{ 'title.cancel'|trans }}</a>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->

{% endblock %}


{% block javascripts %}
    <!-- jquery-validation -->
    <script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-validation/additional-methods.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#userForm').validate({
                rules: {
                    'user[username]': {
                        required: true,
                        maxlength: 190
                    },
                    'user[plain_password]': {
                        required: true,
                        maxlength: 190
                    },
                    'user[last_name]': {
                        maxlength: 190
                    },
                    'user[first_name]': {
                        maxlength: 190
                    },
                    'user[middle_name]': {
                        maxlength: 190
                    },
                },
                messages: {
                    'user[username]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'user[plain_password]': {
                        required: "{{ 'message.validation.required'|trans }}",
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'user[last_name]': {
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'user[first_name]': {
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                    'user[middle_name]': {
                        maxlength: "{{ 'message.validation.too_long_content'|trans({ '%limit%': 190 }) }}"
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>

{% endblock %}